<div class="artists">
 {{#if albums.length}}
      {{#each albums}}
       <a href="/tracks/{{this.id}}">
      <div class="info">
            <p>{{ this.name }}</p> 

      <img src="{{images.[1].url}}">

   
      </div>
      </a>


     {{/each}}

  {{else}}
  <p>No results.</p>
  {{/if}}
</div>