<div>
<a href="javascript:history.back()"><p class="goback">⮈</p></a>
<div class="artists">
    {{#if artists.length}}

      {{#each artists}}
      <a href="/albums/{{this.id}}">
<div class="info">
   <p>{{ this.name}}</p>

      <img src="{{images.[2].url}}">

       
</div>
</a>
     {{/each}}

  {{else}}
  <p>No results.</p>
  {{/if}}
</div>
</div>
