
<div class="artists">
    {{#if artist.length}}

      {{#each artist}}
      <a href="/albums/{{this.id}}">
<div class="info">
   <p>{{ this.name}}</p>

      <img src="{{images.[2].url}}">

       
</div>
</a>
     {{/each}}

  {{else}}
  <p>No results.</p>
  {{/if}}
</div>
