<div class="home">
  <form action="/artist-search" method="GET">
    <div class="input"> 
      <div class="input-background">
      <div>
        
        <input
          class="input"
          type="text"
          placeholder="Search for an artist..."
          name="search"
        />
      </div>
      <div class="button">
        <button type="submit">Search</button>
      </div>
    </div>
    </div>
  </form>
  </div>
