<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Searcher</title>
    <link rel="stylesheet" href="/css/style.css">
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
</head>

<body>
    <nav class="navbar">
    <a href="/"><p class="home-nav">Spotify Searcher</p></a>
   </nav>
<main>{{{ body }}}</main>
<footer class="footer"><p>Developed by Thalía Berger</p>
 <a href="https://www.linkedin.com/in/thaliaberger/" target="_blank"
            ><i class="fa fa-linkedin fa-2x"></i
          ></a>
          <a href="https://github.com/thaliaberger" target="_blank"
            ><i class="fa fa-github fa-2x"></i
          ></a></footer>
</body>
</html>
